// First Fold css
@import 'reset';
@import 'variables';
@import 'colors';
@import 'functions';
@import 'mixins';
@import 'font-size';

@import 'fonts';
// HEADER
header{
    position: fixed;
    width: 100%;
    z-index: 99;
    .contact{
        background-color: $primary;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: $white;
        font-weight: $fw_thin;
        padding: vw(4) 0;
        font-size: $fs_21;
        a{
            color: $secondary;
            font-size: $fs_21;
            @include mobile(){
                font-size: vw(12, 414);
            }
        }
        h6{
            @include mobile(){
                display: none;
            }
            &.call{
                @include mobile(){
                    display: block;
                    text-align: center;
                    font-size: vw(14, 414);
                    padding: vw(1, 414) 0;
                }
            }
        }
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: vw(12) vw(100);
        box-shadow: 0px 10px 10px -14px rgba(0,0,0,1);
        position: relative;
        @include mobile(){
            padding: vw(10, 414) vw(20, 414);
            justify-content: space-evenly;
        }
        .logoNav{
            a{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: $fs_24;
                font-weight: $fw_semibold;
                color: $blue_light;
                gap: vw(15);
                transition: all .3s ease-in;
                @include mobile(){
                    font-size: vw(16, 414);
                    gap: vw(40, 414);
                }
                &:hover{
                    color: $secondary;
                }
            }
            img{
                width: vw(47);
                @include mobile(){
                    width: vw(47, 414);
                }
            }
        }
        .navBttns{
            display: flex;
            align-items: center;
            gap: vw(128);
            @include mobile(){
                display: none;
            }
            a{
                font-size: $fs_24;
                font-weight: $fw_semibold;
                color: $blue_light;
                transition: all 0.3s ease-in;
                &:hover{
                    color: $secondary;
                }
            }
            .navFlex{
                display: flex;
                align-items: center;
                gap: vw(10);
                svg{
                    transition: all 0.3s ease-in;
                    path{
                        transition: all 0.3s ease-in;
                    }
                }
                &:hover{
                    svg{
                        transform: rotate(180deg);
                        path{
                            stroke: $secondary;
                        }
                    }
                }
            }
            .navFlex1{
                position: relative;
                transition: all 0.5s ease-in;
                &:hover{
                    .sub{
                        opacity: 1;
                        z-index: 99;
                        top:vw(50);
                    }
                }
                .sub{
                    position: absolute;
                    top:vw(-500);
                    right:vw(-52);
                    text-align: center;
                    background-color: $white;
                    padding: vw(20) vw(30);
                    opacity: 0;
                    transition: all 0.6s ease-in;
                    z-index: -999;
                    li{
                        width: vw(170);
                        &:nth-child(1){
                            a{
                                border-top: none;
                                &:hover{
                                    border-top: none;
                                }
                            }
                        }
                        a{
                            border-top: 1px solid $blue_light;
                            padding-top: vw(2);
                            &:hover{
                                border-top: 1px solid $secondary;
                            }
                        }
                    }
                }
            }
            .navFlex2{
                position: relative;
                transition: all 0.5s ease-in;
                &:hover{
                    .sub{
                        opacity: 1;
                        z-index: 99;
                        top:vw(50);
                    }
                }
                .sub{
                    position: absolute;
                    top:vw(-500);
                    right:vw(-105);
                    text-align: center;
                    background-color: $white;
                    padding: vw(20) vw(30);
                    opacity: 0;
                    transition: all 0.6s ease-in;
                    z-index: -999;
                    li{
                        width: vw(220);
                        &:nth-child(1){
                            a{
                                border-top: none;
                                &:hover{
                                    border-top: none;
                                }
                            }
                        }
                        a{
                            display: block;
                            border-top: 1px solid $blue_light;
                            padding-top: vw(2);
                        }
                    }
                }
            }
        }

        .mobMenu{
            display: none;
            @include mobile(){
                display: block;
                position: relative;
                .menu{
                    width: vw(70, 414);
                    height: vw(35, 414);
                    cursor: pointer;
                    background-color: $secondary;
                    padding: vw(5,414) vw(10,414);
                    color: $primary;
                    font-size: vw(16, 414);
                    border-radius: vw(3, 414);
                    text-align: center;
                }
                .active{
                    background-color: $primary_light;
                    color: $secondary;
                }
                .mobNav{
                    position: absolute;
                    width: 100vw;
                    background: white;
                    padding: 14px;
                    right: -44px;
                    top: 48px;
                    display: none;
                    ul{
                        li{
                            margin-bottom: vw(10, 414);
                            a{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: vw(16, 414);
                                color: $blue_light;
                            }
                            .navFlexMob{
                                svg{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        .sub{
                            display: none;
                        }
                        .subOpen{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.bgBttn{
    background-color: $secondary;
    color: $primary_light;
    padding: vw(8) vw(14);
    border-radius: vw(2);
    font-size: $fs_24;
    transition: all 0.3s ease-in;
    &:hover{
        background-color: $primary_light;
        color: $secondary;
    }
    @include mobile(){
        padding: vw(5, 414) vw(10, 414);
        border-radius: vw(2, 414);
        font-size: vw(16, 414);
    }
}

// BANNER
.banner{
    position: relative;
    margin-bottom: vw(195);
    picture{
        img{
            width: 100%;
            height: 100vh;
            @include mobile(){
                object-fit: cover;
            }
        }
    }
    .banner-content{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: vw(1200);
        background-color: $primary_light_80;
        padding: vw(40) vw(80);
        border-radius: vw(10);
        transition: all .3s ease-in;
        @include mobile(){
            width: 90vw;
            padding: vw(20, 414) vw(40, 414);
        }
        h2{
            font-size: $fs_60;
            font-weight: $fw_bold;
            color: $white;
            margin-bottom: vw(20);
            span{
                color: $secondary;
            }
            @include mobile(){
                font-size: vw(22, 414);
                margin-bottom: vw(20, 414);
            }
        }
        &:hover{
            background-color: $secondary_80;
            h2{
                span{
                    color: $primary_light;
                }
            }
            a{
                color: $white;
                background-color: $primary_light_80;
            }
        }
        a{
            transition: all .3s ease-in;
            @include mobile(){
                font-size: vw(14, 414);
                padding: vw(5, 414) vw(10, 414);
            }
        }
    }
    .scroll{
        position: absolute;
        bottom:vw(60);
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        @include mobile(){
            bottom: vw(105, 414);
            top: auto;
        }
        a{
            color: $white;
            display: inline-block;
            transition: all .3s ease-in;
            h5{
                font-size: $fs_24;
                font-weight: $fw_regular;
                margin-bottom: vw(10);
                @include mobile(){
                 font-size: vw(16, 414);
                 margin-bottom: vw(10, 414);   
                }
            }
            svg{
                transition: all .3s ease-in;
                margin: 0 auto;
            }
            &:hover{
                color: $secondary;
                svg{
                    path{
                        stroke: $secondary;
                    }
                    rect{
                        stroke: $secondary;
                    }
                }
            }
        }
    }
}


//Footer

.contactUs{
    position: relative;
    .contactContent{
        background-color: $primary_light_80;
        padding: vw(20) vw(60);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        gap: vw(100);
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mobile(){
            padding: vw(30, 414) vw(20, 414);
            flex-direction: column;
        }
        h1{
            color: $white !important;
            text-align: left;
            &::after{
                left: vw(80);
                @include mobile(){
                    left: vw(40, 414);
                    margin-bottom: vw(15, 414) !important;
                }
            }
        }
        p{
            font-size: $fs_32;
            color: white;
            font-weight: $fw_medium;
            @include mobile(){
                font-size: vw(16, 414);
            }
        }
        .content{
            .icons{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: vw(30);
                @include mobile(){
                    margin-bottom: vw(15, 414);
                }
                h5{
                    font-size: $fs_24;
                    color: $white;
                    font-weight: $fw_bold;
                    @include mobile(){
                        font-size: vw(12, 414);
                    }
                }
                svg{
                    width: vw(35);
                    height: vw(35);
                    transition: all 0.3s ease-in;
                    &:hover{
                        opacity: 0.7;
                    }
                    @include mobile(){
                        width: vw(20, 414);
                        height: vw(20, 414);
                    }
                }
            }
        }
    }
}

.footerContent{
    background-color: $primary;
    padding: vw(50);
    display: flex;
    gap: vw(80);
    align-items: flex-start;
    @include mobile(){
        flex-direction: column;
        align-items: center;
    }
    .footerLogo{
        width: vw(300);
        padding: vw(20);
        background-color: $secondary;
        border-radius: vw(5);
        @include mobile(){
            width: vw(200, 414);
            padding: vw(20, 414);
            border-radius: vw(5, 414);
        }
        img{
            margin: 0 auto vw(20);
            @include mobile(){
                margin-bottom: vw(20, 414);
            }
        }
        h5{
            font-size: $fs_24;
            font-weight: $fw_bold;
            color: $primary;
            margin-bottom: vw(30);
            @include mobile(){
                font-size: vw(14, 414);
                margin-bottom: vw(20, 414);
            }
        }
        p{
            font-size: $fs_24;
            font-weight: $fw_medium;
            color: $primary;
        }
    }
    .footerNavigation{
        .footerNav{
            display: flex;
            gap: vw(130);
            align-items: flex-start;
            .Nav{
                display: flex;
                flex-direction: column;
                .heading{
                    font-size: $fs_30 !important;
                    text-align: left;
                    color: $white !important;
                    &::after{
                        left: vw(55);
                        top: vw(60);
                        width: vw(100);
                    }
                }
                a{
                    font-size: $fs_24;
                    color: $white;
                    text-decoration: underline;
                    margin-bottom: vw(10);
                    transition: all 0.3s ease-in;
                    opacity: .9;
                    &:hover{
                        opacity: 1;
                        text-decoration: none;
                        scale: (1.1);
                    }
                }
                .navCall, .navMail{
                    display: flex;
                    align-items: center;
                    gap: vw(20);
                    margin-bottom: vw(20);
                    a{
                        display: block;
                        margin-bottom: vw(1);
                        text-decoration: none !important;
                    }
                    svg{
                        width: vw(30);
                        height: vw(30);
                    }
                }
            }
        }
        p{
            font-size: $fs_24;
            color: $white;
            opacity: .9;
            font-weight: $fw_thin;
        }
    }
}