body {
    font-size: clamp(1.4rem, 0.952vw, 1.8rem);
    // min 14px max 18px
    //middle value = 1680 screen's font size in vw unit
}

h1 {
    font-size: clamp(2.5rem, 2.08333vw, 4rem);
    // min 25px max 45px
}

$fs_12:vw(12);
$fs_14:vw(14);
$fs_16:vw(16);
$fs_18:vw(18);
$fs_20:vw(20);
$fs_21:vw(21);
$fs_22:vw(22);
$fs_23:vw(23);
$fs_24:vw(24);
$fs_26:vw(26);
$fs_28:vw(28);
$fs_30:vw(30);
$fs_31:vw(31);
$fs_32:vw(32);
$fs_33:vw(33);
$fs_34:vw(34);
$fs_35:vw(35);
$fs_36:vw(36);
$fs_37:vw(37);
$fs_38:vw(38);
$fs_39:vw(39);
$fs_40:vw(40);
$fs_41:vw(41);
$fs_42:vw(42);
$fs_43:vw(43);
$fs_44:vw(44);
$fs_45:vw(45);
$fs_46:vw(46);
$fs_47:vw(47);
$fs_48:vw(48);
$fs_49:vw(49);
$fs_50:vw(50);
$fs_51:vw(51);
$fs_52:vw(52);
$fs_53:vw(53);
$fs_54:vw(54);
$fs_55:vw(55);
$fs_56:vw(56);
$fs_57:vw(57);
$fs_58:vw(58);
$fs_59:vw(59);
$fs_60:vw(60);