/* 1366 common css */
html {
    /* 10px: easy to use with REM */
    /* Do not change this value in any media query */
    /* make use of CSS3 variables where required */
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 100%;
    padding: vw(120) 0;
    @include mobile(){
        padding: vw(90, 414) 0 vw(30, 414);
    }
	@include max_breakpoint(1920px) {
		max-width: 75%;
        margin: 0 auto;
	}

	@include max_breakpoint(540px) {
		max-width: 100%;
        padding-left: 20px;
		padding-right: 20px;
		
	}
}

.heading{
    text-align: center;
    color: $blue_light;
    font-size: $fs_48;
    font-weight: $fw_bold;
    margin-bottom: vw(78);
    position: relative;
    @include mobile(){
        font-size: vw(28, 414);
        margin-bottom: vw(50, 414);
    }
    &::after{
        content: '';
        position: absolute;
        width: vw(150);
        height: vw(2);
        background-color: $secondary;
        left: 50%;
        transform: translate(-50%);
        top:vw(90);
        @include mobile(){
            width: vw(80, 414);
            height: vw(2, 414);
            top:vw(50, 414);
        }
    }
}
.Help{
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: vw(35) 0;
    gap: vw(50);
    h3{
        font-size: $fs_36;
        font-weight: $fw_medium;
        color: $blue_light;
        @include mobile(){
            font-size: vw(18, 414);
        }
    }
}
.flexPara{
    font-size: $fs_24;
    font-weight: $fw_regular;
    color: $blue_light;
    margin-bottom: vw(25);
    @include mobile(){
        font-size: vw(18, 414);
        margin-bottom: vw(15, 414);
    }
}
.viewLink{
    font-size: $fs_30;
    font-weight: $fw_bold;
    color: $secondary;
    border-bottom: 1px solid $secondary;
    display: inline-block;
    transition: all 0.3s ease-in;
    @include mobile(){
        font-size: vw(20, 414);
    }
    &:hover{
        color: $primary_light;
        border-bottom: 1px solid $primary_light;
    }
}
.navBttns{
    .active{
        color: $secondary !important;
        svg{
            path{
                stroke: $secondary;
            }
        }
    }
}
.subHeading{
    font-size: $fs_30;
    font-weight: $fw_medium;
    margin-bottom: vw(42);
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: vw(50);
        height: vw(2);
        background-color: $secondary;
        left: 0;
        bottom:vw(-20);
        @include mobile(){
            width: vw(80, 414);
            height: vw(2, 414);
            bottom:vw(-20, 414);
        }
    }
}