.service{
    background-color: $black_thin;
    .serviceFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: vw(1366);
        margin: 0 auto vw(87);
        gap:vw(100);
        @include mobile(){
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: vw(50, 414);
            gap:vw(50, 414);
        }
        .offer{
            width: vw(380);
            text-align: center;
            @include mobile(){
                width: 35%;
            }
            .servicebox{
                margin: 0 auto;
                margin-bottom:vw(45);
                background-color: $white;
                padding: vw(15);
                width: vw(100);
                svg{
                    margin: 0 auto;
                }
                @include mobile(){
                    width: vw(100, 414);
                    padding: vw(10, 414);
                    margin-bottom: vw(10, 414);
                }
            }
            &:hover{
                .star1{
                    border-radius: vw(76) vw(130) vw(57) vw(100);
                }
            }
            .star1{
                border-radius: vw(130) vw(76) vw(100) vw(57);
                transition: all .5s ease-in;
                @include mobile(){
                    border-radius: vw(130, 414) vw(76, 414) vw(100, 414) vw(57, 414);
                }
            }
            .light1{
                border-radius: vw(100) vw(70) vw(200) vw(157);
                transition: all .5s ease-in;
            }
            h3{
                font-size: $fs_30;
                font-weight: $fw_medium;
                color: $blue_light;
                margin-bottom: vw(25);
                @include mobile(){
                    font-size: vw(18, 414);
                }
            }
            p{
                font-size: $fs_24;
                font-weight: $fw_regular;
                color: $blue_light;
                margin-bottom: vw(25);
                @include mobile(){
                    font-size: vw(14, 414);
                }
            }
            a{
                font-size: $fs_30;
                font-weight: $fw_bold;
                color: $secondary;
                border-bottom: 1px solid $secondary;
                display: inline-block;
                transition: all 0.3s ease-in;
                @include mobile(){
                    font-size: vw(18, 414);
                }
                &:hover{
                    color: $primary_light;
                    border-bottom: 1px solid $primary_light;
                }
            }
        }
    }
    .serviceHelp{
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: vw(35) 0;
        gap: vw(50);
        h3{
            font-size: $fs_36;
            font-weight: $fw_medium;
            color: $blue_light;
            @include mobile(){
                font-size: vw(18, 414);
            }
        }
    }
}