.service{
    background-color: $black_thin;
    .serviceFlex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: vw(1366);
        margin: 0 auto vw(87);
        gap:vw(100);
        @include mobile(){
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            margin-bottom: vw(50, 414);
            gap:vw(50, 414);
        }
        .offer{
            width: vw(380);
            text-align: center;
            @include mobile(){
                width: 40%;
            }
            .servicebox{
                margin: 0 auto;
                margin-bottom:vw(45);
                background-color: $white;
                padding: vw(15);
                width: vw(100);
                svg{
                    margin: 0 auto;
                }
                @include mobile(){
                    width: vw(100, 414);
                    padding: vw(10, 414);
                    margin-bottom: vw(10, 414);
                }
            }
            .star1{
                border-radius: 66% 34% 33% 67% / 60% 48% 52% 40%;
                transition: all .5s ease-in;
            }
            .light1{
                border-radius: 47% 53% 49% 51% / 40% 29% 71% 60%;
                transition: all .5s ease-in;
            }
            .moon1{
                border-radius: 47% 53% 22% 78% / 39% 42% 58% 61%;
                transition: all .5s ease-in;
            }
            .star2{
                border-radius: 26% 74% 49% 51% / 55% 50% 50% 45%;
                transition: all .5s ease-in;
            }
            .light2{
                border-radius: 53% 47% 50% 50% / 67% 50% 50% 33%;
                transition: all .5s ease-in;
            }
            .moon2{
                border-radius: 41% 59% 61% 39% / 47% 37% 63% 53%;
                transition: all .5s ease-in;
            }
            &:hover{
                .star1{
                    border-radius: 29% 71% 71% 29% / 65% 45% 55% 35%;
                }
                .light1{
                    border-radius: 49% 51% 49% 51% / 58% 55% 45% 42%;
                }
                .moon1{
                    border-radius: 30% 70% 49% 51% / 62% 57% 43% 38%;
                }
                .star2{
                    border-radius: 71% 29% 37% 63% / 55% 50% 50% 45%;
                }
                .light2{
                    border-radius: 34% 66% 71% 29% / 35% 53% 47% 65%;
                }
                .moon2{
                    border-radius: 34% 66% 61% 39% / 58% 68% 32% 42% ;
                }
            }
            h3{
                font-size: $fs_30;
                font-weight: $fw_medium;
                color: $blue_light;
                margin-bottom: vw(25);
                @include mobile(){
                    font-size: vw(18, 414);
                }
            }
        }
    }
}