.aboutAccordion{
    background-color: $black_thin;
    .heading{
        @include mobile(){
            font-size: vw(24, 414);
        }
    }
    #aboutAccordion{
        .item{
            margin-bottom: vw(20);
            @include mobile(){
                margin-bottom: vw(15, 414);
            }
            .accordionFlex{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $white_medium;
                padding: vw(10) vw(30);
                position: relative;
                font-size: $fs_30;
                border-radius: 5px;
                cursor: pointer;
                @include mobile(){
                    font-size: vw(16, 414);
                    padding: vw(10, 414);
                }
                .accordionContent{
                    display: flex;
                    gap: vw(80);
                    @include mobile(){
                        gap: vw(10, 414);
                    }
                }
                img{
                    width: vw(40);
                    transition: all 0.3s ease-in;
                    @include mobile(){
                        width: vw(20, 414);
                    }
                }
            }
            .accordionPara{
                    background-color: $white;
                    padding: vw(20) vw(30);
                    border-top: 5px solid $secondary;
                    border-radius: 0 0 5px 5px;
                    display: none;
                    font-size: $fs_24;
                    @include mobile(){
                        font-size: vw(14, 414);
                        padding: vw(10, 414);
                    }
            }
        }
        .active{
            .accordionPara{
                display: block;
            }
        }
    }
}